<section class="body_show">
    <h1><%= @artist.name %></h1>
    <%= image_tag(@artist.picture.image, size: "250x250") %>

    <p>Biography:
        <%= @artist.bio %></p>
    <p>Genre:
        <%= @artist.genre %></p>
    <p>Country:
        <%= @artist.country %></p>
    <p>Record Label:
        <%= @artist.label %></p>

    <h4>List of Songs</h4>

    <% if @artist.songs.any? %>
    <ul>
        <% @artist.songs.each do |song| %>
        <li><%= link_to song.title,
      song_path(song.id) %></li>
        <% end %>
    </ul>
<% else %>
    <p>There are no songs for this artist.</p>
    <% end %>

    <p><%= link_to "Add new song", new_song_path, class: "btn btn-default" %></p>
    <p><%= link_to "Delete Artist", artist_path, method: :delete, data: { confirm: 'Are you sure? The Artist and all of it\'s songs will be deleted!' }, class: "btn btn-default" %></p> <p><%= link_to "Back", root_path, class: "btn btn-default" %></p>
</section>
